@media (min-width: 992px) {
  .main-content {
    margin-left: 250px; /* ancho del sidebar */
  }
}

.main-container{
  min-height: calc(100vh - 60px); /* Ajusta según la altura del navbar y footer */
}

.sidebar {
  width: 250px;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

