<!-- Sidebar como offcanvas en móviles -->
<div class="offcanvas offcanvas-start modern-sidebar" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title fw-bold" id="offcanvasSidebarLabel">Menú</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body p-0">
    <ul class="nav flex-column menu-list">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">
          <i class="bi bi-house-door me-2"></i> Inicio
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/lista" routerLinkActive="active" class="nav-link">
          <i class="bi bi-bag-check me-2"></i> Mis listas
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/productos" routerLinkActive="active" class="nav-link">
          <i class="bi bi-box-seam me-2"></i> Productos
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/comparador" routerLinkActive="active" class="nav-link">
          <i class="bi bi-bar-chart me-2"></i> Comparador
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/perfil" routerLinkActive="active" class="nav-link">
          <i class="bi bi-person-circle me-2"></i> Perfil
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- Sidebar fijo en pantallas grandes -->
<div class="sidebar d-none d-lg-block modern-sidebar bg-light border-end">
  <ul class="nav flex-column menu-list p-3">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">
        <i class="bi bi-house-door me-2"></i> Inicio
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/lista" routerLinkActive="active" class="nav-link">
        <i class="bi bi-bag-check me-2"></i> Mis listas
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/productos" routerLinkActive="active" class="nav-link">
        <i class="bi bi-box-seam me-2"></i> Productos
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/comparador" routerLinkActive="active" class="nav-link">
        <i class="bi bi-bar-chart me-2"></i> Comparador
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/perfil" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person-circle me-2"></i> Perfil
      </a>
    </li>
  </ul>
</div>
